{{!--  --}}
<ul class="features__list list">
    <li class="features__item">
        <div class="features__container">
            <svg class="features__icon" width="70" height="70">
                <use href="./images/icons/sprite-optimized.svg#icon-antenna"></use>
            </svg>
        </div>
        <h3 class="features__headings">Внимание к деталям</h3>
        <p class="features__text">
            Идейные соображения, а также начало повседневной работы по формированию позиции.
        </p>
    </li>
    <li class="features__item">
        <div class="features__container">
            <svg class="features__icon" width="70" height="70">
                <use href="./images/icons/sprite-optimized.svg#icon-clock"></use>
            </svg>
        </div>
        <h3 class="features__headings">Пунктуальность</h3>
        <p class="features__text">
            Задача организации, в особенности же рамки и место обучения кадров влечет за собой.
        </p>
    </li>
    <li class="features__item">
        <div class="features__container">
            <svg class="features__icon" width="70" height="70">
                <use href="./images/icons/sprite-optimized.svg#icon-diagram"></use>
            </svg>
        </div>
        <h3 class="features__headings">Планирование</h3>
        <p class="features__text">
            Равным образом консультация с широким активом в значительной степени обуславливает.
        </p>
    </li>
    <li class="features__item">
        <div class="features__container">
            <svg class="features__icon" width="70" height="70">
                <use href="./images/icons/sprite-optimized.svg#icon-astronaut"></use>
            </svg>
        </div>
        <h3 class="features__headings">Современные технологии</h3>
        <p class="features__text">
            Значимость этих проблем настолько очевидна, что реализация плановых заданий.
        </p>
    </li>
</ul>